@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400&family=Ubuntu&display=swap');

@font-face {
    font-family: 'AbelRegular';
    src: url('fonts/abel-regular-webfont.eot');
    src: url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/abel-regular-webfont.woff') format('woff'), url('fonts/abel-regular-webfont.ttf') format('truetype'), url('fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
}

@layer utilities {}

.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
    text-decoration: none;
}

body {
    font-family: 'Noto Sans TC', 'Microsoft JhengHei',sans-serif;
    font-weight: 200;
    font-weight: 300;
    font-weight: 400;

}

.txtJL{
    font-family: "AbelRegular" , sans-serif;
    font-weight: normal;
}


#header_ui .uk-active a {
    color: #007cc1;
}

.logo_text {
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.06em;
    color: #727272;
    padding: 1px 8px;
    background-color: white;

    &:hover {
        background-color: rgb(244, 88, 255);
        color: white;
    }
}

.header_btn {
    border: 2px solid #f7b157;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: #333;
    padding: 10px 20px;
    background-color: white;
    text-align: center;

    &:hover {
        background-color: #0effc3;
        color: white;
    }

    @media (min-width: 1200px) {
        display: block;
    }

}


.plan_btn {
    color: black;
    font-weight: bold;
    letter-spacing: 0.5em;
    font-size: 22px;
    background-color: #ffdd3d;
    border-radius: 50px;
    border: 4px solid white;
    padding: 10px 96px;
    display: inline-block;
    position: relative;

    &:hover {
        background-color: #ffec7f;
        border: 4px solid #ffec7f;
        color: black;
    }

    &::after {
        content: "→";
        position: absolute;
        right: 10;
        top: 8;
    }

}

.yellow_line {
    display: inline-block;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        background-color: #ffde25;
        width: 100%;
        height: 10px;
        display: block;
        position: absolute;
        top: 10px;
        z-index: -1;

    }

}


.input_group {
    position: relative;

    &.front_icon::before {
        content: "";
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }





    &.front_icon.lock::before {
        background-image: url(https://cdn-icons-png.flaticon.com/256/747/747305.png);

    }

    &.front_icon.mail::before {
        background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Ftoppng.com%2Ffree-image%2Fultra-ball-pokeball-pixel-PNG-free-PNG-Images_188906&psig=AOvVaw3AUPV6nayXvfW-nuZDNRQE&ust=1702714399321000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCODHnsr_kIMDFQAAAAAdAAAAABAf);

    }

    &.front_icon.phone::before {
        background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fotrabalhosocomecou.macae.rj.gov.br%2Fmaster-ball-pixel-art-k.html&psig=AOvVaw3jsize4PRYURefzDRGK_ra&ust=1702714743394000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKiL3O6AkYMDFQAAAAAdAAAAABAZ);

    }

    input,
    textarea {
        background-color: #f6f8fd;
        border: 1px solid #000;
        padding: 10px 24px;
        width: 100%;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 1.5px #1193e1;
            border: 1px solid #1193e1;
            background-color: white;

        }
    }



    input {
        border: 1px solid #000;
        background-color: #f6f8fd;
        padding: 10px 24px;
        width: 100%;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 1.5px #1193e1;
            border: 1px solid #1193e1;
            background-color: white;

        }
    }


}


.input_chose {

    input {
        display: none;
    }

    label {
        padding: 10px 13px;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
            background-color: #f6f8fd;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 23px;
            height: 23px;
            background-color: #fff;
            border-radius: 50%;
            border: 2px solid #777;
            vertical-align: middle;
            margin-right: 5px;
            position: relative;
            top: -2px;

        }



    }

    input:checked+label {
        background-color: #dfdfdf;

    }


    input:checked+label::before {
        border: 7px solid #1b96e1;
    }

}


.zoom {
    overflow: hidden;
    position: relative;

    .inner {
        transition: transform .42s cubic-bezier(.15, .46, .57, 1);

        &::before {
            content: "";
            transition: opacity .42s cubic-bezier(.15, .46, .57, 1);
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.25);
        }
    }

    &:hover .inner {
        transform: scale(1.08, 1.08);

        &::before {
            opacity: 1;
        }
    }
}


.uk-offcanvas-bar {
    background-color: #f6f8fd;

    a {
        color: black;

        &:hover {
            color: #007cc1;
        }
    }
}

@media (min-width:1024px) {
    #offcanvas-flip {
        display: block;
        position: static;

        .uk-offcanvas-bar {
            position: static;
            width: auto;
            padding: 0;
            background-color: transparent;

            a {
                color: #333;
            }

            .uk-offcanvas-close {
                display: none;
            }

        }

    }
}